# Archivos y carpetas que Git debe ignorar.
.refact/ 
.venv/
# Entornos virtuales
frontend/node_modules/

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Pruebas de ejecución
pruebas/
pruebas/*.mia
discos/*.mia
docs/
reportes/
salidas/
